<%- include ('partials/header.ejs'); %>

<div class="jumbotron">
    <div class="container">
        <h1>YelpCamp</h1>
        <a class="btn btn-primary btn-lg" href="/campgrounds" role="button">View all campgrounds</a>
    </div>
</div>

<%- include ('partials/footer.ejs'); %>