<%- include ('partials/header.ejs'); %>

<div class="jumbotron" id='landingPage'>
    <div class="container">
        <h1>YelpCamp</h1>
        <h3>Start planning your next trip today !</h3>
        <hr>
        <p><a class="btn btn-default btn-lg" href="/campgrounds" role="button"><i class="fas fa-map-signs"></i>Get started</a></p>
    </div>
</div>

<%- include ('partials/footer.ejs'); %>